* { 
	padding: 0;
	 margin: 0; 
}
body {
	background: url(univer.jpg) no-repeat center top / cover;
}
 #Canvas {
  	background: #eee;
  	display: block;
	margin: 0 30px;
	position: absolute;
}

#Score {
	background: #000;
  	display: block;
  	width: 230px;
	left: 1290px;
	font-size: 25px;
	position: relative;
}